@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}


* {
	font-family: 'Source Sans Pro', sans-serif !important;
}

form {
	background-color: hsla(0, 5%, 90%, .85);
    box-shadow: 0px 0px 10px 1px #555555;
    -webkit-box-shadow: 0px 0px 10px 1px #555555; 
    -moz-box-shadow: 0px 0px 10px 1px #555555;
    -o-box-shadow: 0px 0px 10px 1px #555555;
}

body {
	padding: 8px;
	padding-top: 6%;
	background-color: #222222;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

table {
	width: 100%;
}

@media screen and (max-width: 40.063em) {
    body {
 	    background-image: url('../img/TinyDarkSkyward.png');
	    background-position: center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;   
    }
}