body {
    background-color: #dddddd;
    text-align: center;
    font-family: Arial, sans-serif;
}

.global-container {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 12px;
    border-bottom-color: #aaaaaa;
    width: 94%;
    margin: auto;
    font-size: 98pt;
}

p {
    margin: auto;
}

input {
    width: 90%;
    height: 68px;
    font-size: 32pt;
}

